# Ignore virtual environment
venv/

# Ignore credentials file
credentials.json
ConnectionTest.py
.env
.streamlit/
secrets.toml

# Ignore temporary files and OS-specific files
__pycache__/
*.pyc
.DS_Store
