# Ignore virtual environment
venv/

# Ignore credentials file
credentials.json
ConnectionTest.py
.env
.streamlit/
secrets.toml
priorities-tracker-fa4bd7c6f7f4.json
.gitignore



# Ignore temporary files and OS-specific files
__pycache__/
*.pyc
.DS_Store
